<nav>
    <div class="nav-wrapper">
        <a class="brand-logo right">YouFly Airlines</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a routerLink="login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="create" routerLinkActive="active">Create Acccount</a></li>
            <li><a routerLink="flights" routerLinkActive="active"><i class="material-icons left">cloud</i>Flights</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>