﻿@model IEnumerable<InventoryTracker.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    <a asp-controller="Users" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>UserName</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
        </tr>
    }
</table>