<form (ngSubmit)="submitLogin(Username.value, Password.value)">
    <div class="section no-pad-bot" id="index-banner" align="center">
        <div class="container">
            <br><br>
            <div class="row center">
                <h3 class="header">Login</h3>
            </div>
            <label>
    <div class="input-field col s12">
        <input id="username" type="text" #Username class="validate" required="required"/>
         <label for="username">Username</label>
        </div>
        <br>
        <div class="input-field col s12">
            <input id="password" type="password" #Password class="validate" required="required" />
            <label for="password">Password</label>
        </div>
        </label>
        <br><br>
        <div class="row center">
            <button type="submit" class="waves-effect waves-light btn">Submit</button>
        </div>
        <br>
    </div>
    </div>
</form>