﻿label.font {
    font-size: 1rem;
}

a.title-font {
    font-size: 3rem;
    padding: 40px;
}

ul.classes {
    padding-top: 25px !important;
}

div.make-bigger {
    height: 150px;
    margin: auto;
}

body {
    background-image: url("../images/8114606371_e5ba9be455_o.jpg");
    background-size: cover;
}

div.body-content {
    background-color: white;
    margin-top: 150px;
    opacity: 0.9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
